@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}

.up {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  position: relative;
  height: 40px;
}

.name {
  display: flex;
  align-items: center;
}

.svg {
  width: 30px;
  height: 30px;
}

.logo {
  width: 81px;
  height: 78px;
}

.app-name {
  color: #1e1e1e;
  font-family: "Italiana";
  font-size: 20px;
}

.center-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-weight: bold;
  font-family: "Instrument Sans";
}

footer {
  background-color: #767676;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 95px;
  color: white;
}

.app-n {
  color: #fff;
  font-family: "Italiana";
  font-size: 20px;
}

p,
h1 {
  font-family: "Instrument sans";
}

img {
  width: 375px;
  height: 375px;
}

.cart {
  margin-left: 120px;
}

button {
  height: 45px;
  width: 100%;
  background-color: #cb3123;
  border-radius: 10px;
  color: white;
  border: none;
  font-family: "Instrument sans";
  font-size: 17px;
}

p,
h1 {
  font-family: "Instrument sans";
}

h1 {
  font-size: 64px;
}

.info {
  font-size: 30px;
}

.cart-info {
  position: absolute;
  right: 10%;
  top: 17%;
}

a {
  text-decoration: none;
}

footer :nth-child(2) {
  padding-right: 10px;
}
