@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}

nav {
  border: 1px solid black;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  position: relative;
  height: 60px;
  border-radius: 20px;
  width: 95%;
}

.logo {
  position: absolute;
  top: 15px;
  height: 60px;
  width: auto;
}

.search-container {
  border: 1px solid black;
  width: 40%;
  height: 40px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search {
  background-color: #9a1e14;
  width: 15%;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  border-radius: 0 15px 15px 0;
}

.svg {
  width: 30px;
  height: 30px;
}

.svg-p {
  width: 35px;
  height: 35px;
  margin-bottom: 5px;
}

.search-text {
  margin-left: 25px;
  font-family: "instrument sans";
}
.icon {
  position: absolute;
  right: 5%;
  display: flex;
  gap: 15px;
}

menu {
  width: 20%;
  height: 380px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
  padding: 0;
}

.dash {
  border: none;
  border-top: 1px dashed black;
  margin: 10px;
  width: 90%;
}

.profile-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.b-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.dashboard,
.product,
.orders {
  margin-left: 35px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

main {
  width: 75%;
  height: 1080px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.budget-main {
  border: 1px solid black;
  width: 30%;
  height: 200px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.first-row,
.third-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 25px;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.app-name {
  color: #1e1e1e;
  font-family: "Italiana";
  font-size: 20px;
}

footer {
  background-color: #767676;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 95px;
  color: white;
}

.name {
  display: flex;
  align-items: center;
}

.app-n {
  color: #fff;
  font-family: "Italiana";
  font-size: 20px;
}

.expense-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.first-column {
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 560px;
  padding: 0 25px;
  margin: 25px 20px 0 20px;
}

.down-logo {
  width: 40px;
  height: 40px;
}

p {
  font-family: "Instrument sans";
}

.money-info {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.budget,
.expenses {
  display: flex;
  flex-direction: column;
}

span {
  font-family: "Instrument sans";
}

h1 {
  margin-left: 50px;
  font-family: "Instrument sans";
}

h2 {
  margin-left: 10px;
  font-family: "Instrument sans";
}

.second-column {
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 430px;
  padding: 0 25px;
  margin: 25px 20px 0 20px;
}

.small-img {
  width: 68px;
  height: 68px;
}

.mini-one {
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mini-two {
  padding: 2px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
  height: 0;
}

.third-column {
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 230px;
  padding: 0 25px;
  margin: 25px 20px 0 20px;
}

.customer {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 150px;
  margin-left: 50px;
  margin-top: 40px;
}

button {
  height: 45px;
  background-color: #cb3123;
  border-radius: 10px;
  color: white;
  border: none;
  font-family: "Instrument sans";
  font-size: 17px;
  margin-top: 20px;
  margin-left: 780px;
  width: 20%;
}

.image {
  width: 300px;
  height: 420px;
  border-radius: 20px;
}

.first-row {
  display: flex;
  flex-direction: row;
}

.trend {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
